fastapi
uvicorn[standard]

langchain
langchain-community
langchain-text-splitters
pypdf
PyPDF2

sentence-transformers
transformers
torch

qdrant-client
redis
rank-bm25

streamlit
python-multipart
aiofiles
requests

python-dotenv
pydantic
pydantic-settings